@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&display=swap");

.app_container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: minmax(325px, 0.325fr) 0.675fr;
  grid-template-areas: "sidebar content";
  background-color: hsl(0, 0%, 80%);
  font-family: "Open Sans", sans-serif;
}
