.search_input_section {
  grid-area: search;
  display: grid;
  grid-template-rows: repeat(3, 1fr) 0.25fr;

  &:after {
    content: "";
    height: 2px;
    position: relative;
    width: 80%;
    background: hsl(211, 22%, 32%);
    justify-self: center;
    align-self: flex-start;
    grid-row: 4/5;
  }

  form {
    grid-row: 2/3;
    justify-self: center;
    width: 18.75rem;

    > input {
      width: 85%;
      height: 2rem;
      border: none;
      border-top-left-radius: 0.3125rem;
      border-bottom-left-radius: 0.3125rem;
      padding-left: 0.75rem;
      color: hsl(211, 22%, 26%);
      outline: none;

      &::placeholder {
        opacity: 0.5;
      }
    }

    > button {
      width: 15%;
      height: 2rem;
      border: none;
      border-top-right-radius: 0.3125rem;
      border-bottom-right-radius: 0.3125rem;
      background: hsl(0, 0%, 100%);
      outline: none;
      cursor: pointer;

      img {
        height: 0.75rem;
        transform: translate(2px, 1px);
        filter: opacity(60%);
      }
    }
  }

  .not_found {
    grid-row: 3/4;
    justify-self: center;
  }
}
